body{
    background-color: rgb(0, 94, 255);
}
input{
    border-width: 5px;
    border-color: cadetblue;
    text-align: center;
}
button{
  border-width: 5px;
  border-color: aquamarine;

  text-align: center; 
}
img{
  height: 100px;
}